.root {
  box-sizing: border-box;
  height: calc(100vh - 60px);
  width: 100%;
  margin: 0;
  padding: 40px 20px 70px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.waiting {
  filter: blur(5px); /* blureamos el root*/
  pointer-events: none; /* desactivamos los clicks del mouse*/
}
.text-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.links {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  justify-content: center;
}
.regist {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
