.root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.input-text {
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
  min-width: 100%;
  height: 50px;
  border-radius: 4px;
}
.text-label {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 2px;
}
.text-area {
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
  min-width: 100%;
  height: 131px;
  border-radius: 4px;
}
.black {
  background-color: #26302e;
  .text-label {
    color: white;
  }
  .input-text {
    background-color: #4a5553;
    color: white;
  }
  .text-area {
    background-color: #4a5553;
    color: white;
  }
}
