.root {
  box-sizing: border-box;
  min-height: calc(100vh - 60px);
  padding: 40px 20px 70px 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.waiting {
  filter: blur(5px); /* blureamos el root*/
  pointer-events: none; /* desactivamos los clicks del mouse*/
}
.text-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.status {
  display: none;
}
.status-error {
  display: flex;
}
